body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100%;
    margin: 0;
    /* display: flex; */
}

ul {
    margin: 0;
    padding: 0 0%;
    /* display: flex; */
    list-style: none;
}

li {

    display: inline;
    padding: 0 10px;
} 

svg {
    padding: 0 5px;
    height: 20px;
    width: 20px;
    /* justify-self: flex-end; */
}

a {
    color: #404040;
    text-decoration: none;
}

#navbar{
    font-size: 0.8rem;
    height: 5vh;
    /* width: 100px; */
    margin: 0 0%;
    padding: 0.5% 1%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* flex-grow: 2; */
}

#profile-pic {
    padding: 0 10px;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    /* justify-self: flex-end; */
}

#nav1 {
    padding: 0 0%;
    display: flex;
    align-items: center;
    flex-grow: 2;
    justify-content: flex-end;
    /* justify-content: flex-end; */
    /* overflow: auto; */
}

#logo-box {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* height: 90vh; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

footer {
    font-size: 13px;
    background-color: #f2f2f2;
    height: 4vh;
    width: 100%;
    margin: 0 0%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
}

#search-bar {
    border: 2px #eeeeee solid;
    padding: 2% 2%;
    margin: 5% 0;
    width: 55vh;
    border-radius: 25px;
    /* outline: none; */
}

button {
    font-size: 0.8rem;
    border: none;
    width: 130px;
    height: 35px;
    border-radius: 3px;
}

#button-box {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}

