body {
    height: 100vh;
    /* display: flex; */
}

nav {
    height: 5vh;
}
/* ul {
    padding: 0;
    display: flex;
    list-style: none;
}

li {
    padding: 10%;
} */

#navbar{
    /* width: 100vh; */
    margin: 0 2%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-box {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
