body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


#logo-box {
    height: 50vh;
    /* display: flex;
    align-items: center;
    justify-content: center;
    align-content: center; */
}